:root{
    --nav-text-color:#444444;
    --accent-color: #e6b939;
    --primary-text-color: #575445;
    --white-color: #ffffff;
    --secondary-text-color: #6f7278;
    --seconddary-bg-color: #375c58;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
    margin: 0;
    padding: 0;
}
body{
    color: var(--primary-text-color);
    background-color: var(--white-color);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.19;
    font-weight: 400;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 136px;
    padding-right: 136px;
}
.section{
    padding-top: 100px;
    padding-bottom: 100px;
}
.visually-hidden{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.nav{
    display: flex;
    align-items: center;
}
.nav-site-menu{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 26px;
}
.nav-site-link{
    display: block;
    padding: 30px 14px;

    font-size: 13px;
    line-height: 1.08;    
    color: var(--nav-text-color);
}
.nav-site-link:hover,
.nav-site-link:focus{
    color: var(--accent-color);
}
.buy-site-menu{
    display: flex;
    align-items: center;
}
.buy-site-btn{
    line-height: 1.16;
    border: none;
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--primary-text-color);
}
.buy-site-btn:hover,
.buy-site-btn:focus{
    color: var(--seconddary-bg-color);
    background-color: var(--accent-color);
}
.hero{
    max-width: 100%;
    padding-top: 218px;
    padding-bottom: 227px;
   background-image: url(../images/hero-bg.jpg); 
   background-repeat: no-repeat;
   background-position:center;
   background-size: cover;
}
.hero-container{
    max-width: 600px;
}
.hero-subtitle{
font-size: 14px;
line-height: 1.43;
letter-spacing: 2px;
text-transform: uppercase;
color: var(--accent-color);
}
.hero-title{
 margin-bottom: 10px;

font-size: 48px;
line-height: 1.21;
color: var(--white-color);
}
.hero-text{
font-size: 17px;
line-height: 1.47;
color: #CACCD1;
}
.about-us-container {
    display: flex;
    align-items: center;
}
.about-us-img{
    margin-right: 105px;
}
.about-us-subtitle{
font-size: 14px;
line-height: 1.43;
letter-spacing: 2px;
text-transform: uppercase;
color: var(--accent-color);
}
.about-us-title{
margin-bottom: 10px;

font-size: 36px;
line-height: 1.19;
color: var(--primary-text-color);
}
.about-us-text{
    margin-bottom: 20px;
}
.about-us-link{
    font-weight: 400;
    font-size: 15px;
    line-height: 1.4;
    color: var(--primary-text-color);
    text-decoration: none;
}
.about-us-link:hover,
.about-us-link:focus{
    color: var(--accent-color);
}
.our-promise{
    background-color: #FAFAFC;
}
.our-promise-subtitle{
font-size: 14px;
line-height: 1.43;
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;
color: var(--accent-color);
}
.our-promise-title{
    margin-bottom: 10px;

font-size: 36px;
line-height: 1.19;
text-align: center;
}
.our-promise-text{
    width: 50%;
    margin: 0 auto;

    text-align: center;
}
.our-promise-menu{
    display: flex;
    flex-wrap: wrap;
}
.our-promise-menu-list{
    width: calc(100% / 3);
        text-align: center;
        padding: 45px 25px;
}
.our-promise-menu-svg{
margin-bottom: 10px;

    width: 64px;
height: 64px;
background-color: var(--primary-text-color);
border-radius: 50%;
}

.our-promise-menu-title{
    margin-bottom: 15px;

font-size: 20px;
line-height: 1.2;
text-align: center;
}
.our-promise-menu-text{
font-size: 14px;
line-height: 1.43;
text-align: center;
}
.categories-subtitle{
font-size: 14px;
line-height: 1.43;
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;
color: var(--accent-color);
}
.categories-title{
    margin-bottom: 10px;

font-size: 36px;
text-align: center;
}
.categories-text{
    width: 50%;
    margin: 0 auto 20px;

text-align: center;
}
.categories-menu{
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-left: -15px;
    margin-bottom: 20px;
}
.categories-menu-list{
    width: calc(100% / 3 - 15px);
    margin-top: 15px;
    margin-left: 15px;
}
.categories-menu-img{
    border-radius: 15px;
}
.categories-menu-title{
font-size: 28px;
line-height: 1.21;
text-align: center;
}
.categories-menu-text{
    line-height: 1.4;
    text-align: center;
}
.categories-menu-link{
font-weight: 400;
font-size: 14px;
line-height: 1.5;
color: var(--primary-text-color);
text-decoration: none;
}
.categories-menu-link:hover,
.categories-menu-link:focus{
color: var(--accent-color);
}
.categories-link{
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 15px;
    line-height: 1.4;
    color: var(--primary-text-color);
}
.categories-link:hover,
.categories-link:focus{
    color: var(--accent-color);
}
.resting-place-menu{
    background-color: var(--nav-text-color);
}
.resting-place-list{
    list-style: none;
}
.resting-place-text{
font-size: 12px;
line-height: 1;
color: var(--white-color);
}
.shop{
background-color: var(--seconddary-bg-color);
}
.shop-subtitle{
font-size: 14px;
line-height: 1.43;
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;
color: var(--white-color);
}
.shop-title{
    margin-bottom: 10px;

    font-weight: 400;
font-size: 36px;
text-align: center;
color: var(--accent-color);
}
.shop-text{
    width: 50%;
    margin: 0 auto 20px;

font-size: 16px;
text-align: center;
color: var(--white-color);
}
.shop-btn{
display: flex;
margin: 0 auto;

    border: none;
font-size: 15px;
line-height: 1.47;
text-align: center;
cursor: pointer;
background-color: var(--white-color);
}
.shop-btn:hover,
.shop-btn:focus{
    color: var(--white-color);
    background-color: var(--accent-color);
}
.buyer-guides{
    padding-bottom: 0;
}
.buyer-guides-subtitle{
font-size: 14px;
line-height: 1.43;
letter-spacing: 2px;
text-transform: uppercase;
color: var(--accent-color);
}
.buyer-guides-title{
    margin-bottom: 10px;

font-size: 36px;
}
.buyer-guides-text{
    margin-bottom: 20px;
}
.buyer-guides-menu{
    display: flex;
    flex-wrap: wrap;
    margin-top: -32px;
    margin-left: -32px;
    margin-bottom: 25px;
}
.buyer-guides-menu-list{
    display: flex;
    flex-direction: column;
    width: calc(100% / 2 - 32px);
    margin-top: 32px;
    margin-left: 32px;
}
.buyer-guides-menu-img{
    margin-bottom: 20px;
}
.buyer-guides-menu-text {
    flex-grow: 1;
    margin-bottom: 10px;

    font-size: 20px;
    line-height: 1.2;
}
.buyer-guides-menu-meta{
    display: flex;
    align-items: center;
}
.buyer-guides-menu-photo{
    margin-right: 10px;
}
.buyer-guides-menu-name{
font-size: 13px;
line-height: 1.38;
}
.buyer-guides-menu-position{
font-size: 11px;
line-height: 1.36;
color: var(--accent-color);
}
.buyer-guides-menu-date{
margin-left: auto;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 1.38;
color: var(--secondary-text-color);
}
.buyer-guides-link{
    display: flex;
    justify-content: center;
    align-items: center;

font-size: 15px;
line-height: 1.4;
color: var(--primary-text-color);
}
.buyer-guides-link:hover,
.buyer-guides-link:focus{
    color: var(--accent-color);
}
.reading-container{
    display: flex;
    align-items: center;
}
.reading-img{
    margin-right: 105px;
}
.reading-subtitles{
font-size: 14px;
line-height: 1.43;
letter-spacing: 2px;
text-transform: uppercase;
color: var(--accent-color);
}
.reading-title{
margin-bottom: 10px;

font-size: 36px;
}
.reading-text{
    margin-bottom: 20px;
}
.reading-link{
font-size: 15px;
line-height: 1.4;
color: var(--primary-text-color);
}
.reading-link:hover,
.reading-link:focus {
    color: var(--accent-color);
}
.footer{
    background-color: var(--primary-text-color);
}
.footer-logo-link{
    display: flex;
    justify-content: center;
}
.footer-content{
    display: flex;
justify-content: center;}
.footer-title{
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--accent-color);
}
.footer-pages-list{
    list-style: none;
}
.footer-pages-link{
    font-size: 14px;
    line-height: 1.43;
    color: var(--white-color);
    text-decoration: none;
}
.footer-pages-link:hover,
.footer-pages-link:focus{
    color: var(--accent-color);
}
.footer-categories-list {
    list-style: none;
}
.footer-categories-link{
font-size: 14px;
line-height: 1.43;
color: var(--white-color);
text-decoration: none;
}
.footer-categories-link:hover,
.footer-categories-link:focus{
color: var(--accent-color);
}
.footer-company-link{
font-size: 14px;
line-height: 1.43;
color: var(--white-color);
text-decoration: none;
}
.footer-company-link:hover,
.footer-company-link:focus{
color: var(--accent-color);
}